streamlit
geopandas
shapely
pandas
google-cloud-storage
s2sphere
swig
s2geometry
tensorflow
typing 
tqdm                                                             
open-buildings
requests
duckdb
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
